<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711002649168-phjd56l49ieou1qao59os7idduhggkhf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711002649168-phjd56l49ieou1qao59os7idduhggkhf</string>
	<key>API_KEY</key>
	<string>AIzaSyD_3wErxphIJc3m56bw6dZCJouyYR_fWic</string>
	<key>GCM_SENDER_ID</key>
	<string>711002649168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.getbuds.buds</string>
	<key>PROJECT_ID</key>
	<string>buds-a32e0</string>
	<key>STORAGE_BUCKET</key>
	<string>buds-a32e0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711002649168:ios:b25cf0c57fc96fae969755</string>
</dict>
</plist>